<nav class="header">
    <div class="header_container">
      <a href="/" class="link logo">Product List</a>
      <ul class="header_navigation">
          <li class="HeaderRouter"><a class="link" href="/">Product List</a></li>
          <li class="HeaderRouter"><a class="link" href="/create">Create Product</a></li>
      </ul>
    </div>
</nav>